<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>I-Bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/error403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
  <listener>
    <listener-class>listener</listener-class>
  </listener>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ajx</display-name>
    <servlet-name>ajx</servlet-name>
    <servlet-class>ajx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajx</servlet-name>
    <url-pattern>/ajx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jaspertest</display-name>
    <servlet-name>Jaspertest</servlet-name>
    <servlet-class>Jaspertest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jaspertest</servlet-name>
    <url-pattern>/Jaspertest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailServlet</display-name>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dbtest</display-name>
    <servlet-name>Dbtest</servlet-name>
    <servlet-class>Dbtest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dbtest</servlet-name>
    <url-pattern>/Dbtest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMSServlet</display-name>
    <servlet-name>SMSServlet</servlet-name>
    <servlet-class>SMSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSServlet</servlet-name>
    <url-pattern>/SMSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>backup</display-name>
    <servlet-name>backup</servlet-name>
    <servlet-class>backup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>backup</servlet-name>
    <url-pattern>/backup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>backup1</display-name>
    <servlet-name>backup1</servlet-name>
    <servlet-class>backup1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>backup1</servlet-name>
    <url-pattern>/backup1</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Username</param-name>
    <param-value>satyam69</param-value>
  </context-param>
  <context-param>
    <param-name>Password</param-name>
    <param-value>infosys</param-value>
  </context-param>
</web-app>